*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;
}

.heading,.winner{
    text-align: center;
    margin-bottom: 40px;
}

.winner{
    margin-top: 10px;
}



table td{
    border: 3px solid black;
    width: 120px;
    height: 120px;
    font-size: 60px;
    text-align: center;

}

